<div class="jumbotron mt-4" id="mainFondo">
    <h1 class="display-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat neque vel adipisci voluptates, laboriosam doloribus! </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione tempora distinctio, maiores dolore vel cum. Aspernatur iure mollitia, doloremque assumenda earum in quos accusamus soluta. Soluta iure voluptas facilis praesentium?</p>
    <a href="http://github.com/fedegomezdev" target="_blank" class="btn btn-primary btn-lg">Github</a>
</div>